// @import './bulma_v0.9.3/bulma.sass';
@import './bulma_v0.9.3_scss/bulma.scss';
@import './bulma-extensions.min.css';
@import './bulma-checkradio.min.css';
@import './bulma-tooltip.min.css';
@import './bulma-badge.min.css';

// @import '../../node_modules/bulma-extensions/bulma-tagsinput/dist/css/bulma-tagsinput.min.css';
// @import '../../node_modules/bulma-extensions/bulma-badge/dist/css/bulma-badge.min.css';

#myCanvas {
  border-radius: 7px;
}

.sidebar-left {
	background-color: #c8c8e5;
	color: white;
	min-width: 112px;
	width: 125px;
	height: 100%;
	/* flex: 1; */
}

body {
	// font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	color: #333;
}

.chestnut-light {
	color: #947600;
	// color: rgb(118,047,007);
}

.iken {
	font-family: 'HG行書体', 'HGP行書体', 'HGS行書体', 'HGP教科書体', 'Script',
		'ＭＳ 明朝', serif;
}

.t-s {
	text-shadow: 1px 2px 3px #808080;
}

.wf-notosansjapanese {
	font-family: 'Noto Sans JP';
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.82);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.33s ease-out;
	transform: scale(1.2);
}

.overlay-inner {
	text-align: center;
	max-width: 700px;
}

body.overlay-is-open .overlay,
.overlay--visible {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.e {
	// color: pink;
	color: #f84316;
}

.e::before,
.e::before {
	content: '　';
}

label {
	display: block;
	margin-top: 7px;
	margin-bottom: 2px;
	font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
	.f-sizeQ2 {
		font-size: 0.9rem;
	}
}

@media screen and (max-width: 750px) {
	.f-size {
		font-size: 0.8rem;
	}
	.f-sizeQ2 {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 550px) {
	.f-size {
		font-size: 0.7rem;
	}
}
