.align-items {
  display: flex;
  align-items: center;
}

.flexAlign {
  display: flex;
  align-items: center;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: hsl(171, 100%, 96%);
  #EBFFFC
  has-text-primary-light
  has-background-primary-light
  */
}