<div class="control" data-tag="タグ 1">
	<div class="tags has-addons">
		<span class="tag">タグ 1</span><a class="tag is-delete"></a>
	</div>
</div>
<div class="control" data-tag="タグ 2">
	<div class="tags has-addons">
		<span class="tag">タグ 2</span><a class="tag is-delete"></a>
	</div>
</div>
<div class="control" data-tag="タグ 3">
	<div class="tags has-addons">
		<span class="tag is-active">タグ 3</span><a class="tag is-delete"></a>
	</div>
</div>
<input type="text" placeholder="... タグの追加" style="width: 83.5px" />
