<!-- form$$.html -->

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta
			name="description"
			content="Bulma入門 javascript Handlebars Electron Angular notification"
		/>
		<title>Bulma Project Javascript Form</title>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css"
		/>

		<link
			rel="icon"
			type="image/png"
			href="../../assets/img/faviconBulma.png"
			sizes="16x16"
		/>

		<script
			defer
			src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
		></script>

		<script src="../../js/shortBulma$$.js"></script>
		<!-- <script src="../../js/shortBulma$$.js"></script> -->
		<!-- <script src="shortBulma$$.js"></script> -->
		<!-- <script src="./js/shortBulma$$.js"></script> -->

		<style>
			dt {
				/* color:#cccccc; */
				color: #333333;
			}
		</style>
	</head>

	<body>
		<nav
			class="navbar is-primary has-text-weight-medium has-shadow"
			role="navigation"
			aria-label="Main navigation"
			id="nav"
		>
			<div class="container">
				<div class="navbar-brand">
					<a href="../../../index.html" class="navbar-item" title="Top page"
						>BulmaProject</a
					>
					<div id="burger" class="navbar-burger" data-target="navbarMenu">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="navbar-menu is-primary is-pulled-right mr-2" id="nav-links">
					<div class="navbar-start navbar-item">
						<a
							href="https://bulma.io/documentation/"
							target="_blank"
							rel="noopener noreferrer"
							class="button navbar-item is-primary is-fullwidth mt-1"
							title="Bulma home!!"
						>
							<span class="icon">
								<img src="../../assets/img/bulma32.ico" alt="bulma" />
							</span>
							<span>Bulma</span>
						</a>
					</div>

					<div class="navbar-end has-text-dark">
						<a href="../../sub/js/js.html" class="navbar-item has-text-right"
							>Javascript</a
						>
						<a href="../../sub/hbs/hbs.html" class="navbar-item has-text-right"
							>Handlebars</a
						>
						<a
							href="../../sub/tron/tron.html"
							class="navbar-item has-text-right"
							>Electron</a
						>
						<a href="../../sub/ang/ang.html" class="navbar-item has-text-right"
							>Angular</a
						>
						<a
							href="../../sub/react/react.html"
							class="navbar-item has-text-right"
							>React</a
						>
						<a href="../../sub/flex/flex.html" class="navbar-item">FLEXBOX</a>
					</div>
				</div>
			</div>
		</nav>

		<section class="section">
			<div class="container">
				<div class="notification is-bold mb-1">
					<div class="container">
						<h1 class="title">Form</h1>
						<h2 class="subtitle is-5">
							Form のサンプル・ 始めての　<strong>Bulma-Extensions</strong>
						</h2>
					</div>
				</div>

				<div class="columns mt-3">
					<div class="column"></div>
					<div class="column is-8 content">
						<article class="message is-primary">
							<div class="message-header">
								<p class="is-size-4 p-3">Form のサンプル</p>
							</div>

							<div
								class="message-body has-background-white-bis"
								style="border-bottom: inset 2px #aaaa88"
							>
								<div class="has-text-grey-dark mb-2">
									スタイルに、
									<a
										href="https://jenil.github.io/bulmaswatch/darkly/"
										class="is-size-4 has-text-warning"
										><strong>bulmaswatch</strong></a
									>
									を利用
								</div>
								<p>
									チェックボックス・ラジオボタンには、<strong>Bulma-Extensions</strong>も使っています。
								</p>
							</div>
						</article>

						<div class="box">
							<div class="notification py-1">
								<!-- <div class="notification has-background-warning-light py-1  "> -->
								DevToolsのconsoleにも出力　[ f12, shift+ctrl+I ]
							</div>

							<form>
								<div class="field">
									<label class="label">Name</label>
									<div class="control has-icons-left">
										<input
											class="input"
											id="name"
											type="text"
											placeholder="Text input"
										/>
										<span class="icon is-small is-left">
											<i class="fas fa-user"></i>
										</span>
									</div>
								</div>

								<div class="field">
									<label class="label">Email</label>
									<div class="control has-icons-left has-icons-right">
										<input
											class="input is-danger"
											id="email"
											type="email"
											placeholder="Email input"
											value=""
										/>
										<span class="icon is-small is-left">
											<i class="fas fa-envelope"></i>
										</span>
									</div>
								</div>

								<div class="field">
									<label class="label">Subject</label>
									<div class="control">
										<div class="select">
											<select id="sel">
												<option>Select dropdown</option>
												<option>With options</option>
											</select>
										</div>
									</div>
								</div>

								<div class="field">
									<label class="label">Message</label>
									<div class="control">
										<textarea
											class="textarea"
											id="msg"
											placeholder="Textarea"
										></textarea>
									</div>
								</div>

								<div class="field">
									<div class="control">
										<label class="checkbox">
											<input type="checkbox" id="chk" value="value1" />
											I agree to the <a href="#">terms and conditions</a>
										</label>
									</div>
								</div>

								<div class="field">
									<div class="control" id="rGroup">
										<label class="radio">
											<input type="radio" name="question" value="rad_value1" />
											Yes
										</label>
										<label class="radio">
											<input type="radio" name="question" value="rad_value2" />
											No
										</label>
									</div>
								</div>
								<hr />

								<p>
									~~~~~ Bulma-Extensions (<strong>bulma-checkradio</strong>)
									~~~~~
								</p>
								<div class="field">
									<input
										type="checkbox"
										class="is-checkradio"
										id="chkEx"
										name="chkEx"
										value="value1Ex"
									/>
									<!-- checked="checked" -->
									<label for="chkEx"
										>I agree to the <a href="#">terms and conditions</a></label
									>
								</div>

								<div
									class="field is-flex is-flex-direction-column"
									id="rGroupEx"
								>
									<label></label>
									<input
										type="radio"
										class="is-checkradio"
										id="rd1"
										name="question2"
										value="rad_value1Ex"
									/>
									<label for="rd1">Yes</label>
									<input
										type="radio"
										class="is-checkradio"
										id="rd2"
										name="question2"
										value="rad_value2Ex"
									/>
									<label for="rd2">No</label>
								</div>

								<!--  -->
								<div class="field is-grouped">
									<div class="control" id="submit">
										<button class="button is-link mt-4">Submit</button>
									</div>
									<div class="control" id="reset">
										<button class="button is-link is-light mt-4">Reset</button>
									</div>
								</div>
							</form>
						</div>

						<article class="panel">
							<p class="panel-heading mb-1">
								<!-- <p class="panel-heading has-background-info-light mb-1"> -->
								送信データの情報
							</p>

							<div class="data has-background-grey">
								<!-- <a class="panel-block">
              <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
              </span>
              bulma
            </a> -->
							</div>
						</article>
						<hr />

						<div class="box">
							<h2 class="subtitle mb-2 p-2">
								<!-- <h2 class="subtitle has-background-white-ter mb-2 p-2"> -->
								上記のソースコード
							</h2>
						</div>
					</div>
					<div class="column"></div>
				</div>
			</div>
		</section>

		<script>
			$$bulmaMenu('#burger', '#nav-links')
			$$codeS('#pre1')

			$$de(() => {
				$$q('#name').focus()
				$$qe('#name', (e) => console.log(e.target.value), 'change')
				$$qe('#email', (e) => console.log(e.target.value), 'change')
				$$qe('#sel', (e) => console.log(e.target.value), 'change')
				$$qe('#msg', (e) => console.log(e.target.value), 'change')

				$$qe(
					'#chk',
					(e) => console.log(`${e.target.value}: ${e.target.checked}`),
					'change'
				)

				$$qAe(
					'#rGroup input',
					(e) => {
						console.log(`${e.target.value}: ${e.target.checked}`)
					},
					'change'
				)

				$$qe(
					'#chkEx',
					(e) => console.log(`${e.target.value}: ${e.target.checked}`),
					'change'
				)

				$$qAe(
					'#rGroupEx input',
					(e) => {
						console.log(`${e.target.value}: ${e.target.checked}`)
					},
					'change'
				)

				$$qe('#submit', (e) => {
					e.preventDefault()
					console.log(e.target.innerHTML)
					dispData()
				})
				$$qe('#reset', (e) => {
					// e.preventDefault();
					e.target.form.reset()
				})
			})

			const dispData = () => {
				let data = ''

				data += mkData('name', '#name')
				data += mkData('email', '#email')
				data += mkData('sel', '#sel')
				data += mkData('msg', '#msg')
				data += mkData('chk', `${$$Id('#chk').value}: ${$$Id('#chk').checked}`)
				data += mkData('rGroup', getRadioValue('question'))
				data +=
					'<span class="panel-block has-text-black-bis mt-3">　~~~~~  Extentions  ~~~~~</span>'
				data += mkData(
					'chkEx',
					`${$$Id('#chkEx').value}: ${$$Id('#chkEx').checked}`
				)
				data += mkData('rGroupEx', getRadioValue('question2'))
				$$q('.data').innerHTML = `<div class="">${data}</div>`
			}

			const mkData = (hd, sel) => {
				if (['chk', 'chkEx', 'rGroup', 'rGroupEx'].includes(hd)) {
					return `
          <span class="panel-block px-4">
            #${hd}: &nbsp;<strong>${sel}</strong>
          </span>
          `
				} else {
					return `
          <span class="panel-block px-4">
            #${hd}: &nbsp;<strong>${$$q(sel).value}</strong>
          </span>
          `
				}
			}

			const getRadioValue = (na) => {
				let ret = ''

				$$na(na).forEach((elm) => {
					if (elm.checked) {
						ret = elm.value
					}
				})
				return ret
			}
		</script>
	</body>
</html>
